$primaryColor: #4527a4;

.storefindNowEditing {
  outline: 2px solid $primaryColor;
}

.storefindInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.storefindStoreFinder {
  border: 1px solid #4527a4;

  span {
    font-size: 18px;
    font-weight: 600;
    color: #3c01cd;
  }
}
