$primaryColor: #4527a4;

// Common CSS
html {
  scroll-behavior: smooth;
}

// Dashicon
.dashicons {
  font-family: dashicons !important;
}

// Store Finder
.wp-block-storefind-store-finder {
  * {
    box-sizing: border-box;
  }

  .storefindStoreFinder {
    display: inline-block;
  }

  .icon {
    font-style: inherit;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}
